body{
    background-color: black;
    text-align: center;
}
button{
    background-color: rgba(50, 198, 50, 0.872);
    color: aliceblue;
    width: 200px;
    height: 35px;
    border-radius: 5px;
}
.words{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    border-top: 1px rgb(135, 134, 134) solid;
    margin-top: 10px;
}
.hht{
    background-color: rgba(52, 50, 50, 0.735);
    color: rgb(10, 240, 10);
    width: 200px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
    margin-top: 15px;
 
}
#g{
    color: aliceblue;
    font-weight: bold;
}
#gg{
    color: rgb(10, 240, 10);
    font-weight: bold;
}
p{
    color: rgb(135, 134, 134);
}


